/* 1. MAIN ELEMENTS */
*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    color: #fdfdfd;
}
html, body{
    font-family: Helvetica Neue, Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: #0d0b18;
    background: linear-gradient(0deg, #0d0b18 0%, #211136 36%, #0e1130 79%, #101532 100%);
    scroll-behavior: smooth;
}

.row, .container-fluid{
    border:1px solid red;
}

input{
    margin: 20px 10px; 
    border-radius: 40px;
    background-color: transparent;
    border: transparent;
}
input:focus, input:hover{
    border-radius: 40px;
    outline: none;
}

a{
    color:#2ca0a0;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

a:hover{
    color:#51ecec;
    text-decoration: none;
}


/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #0d0b18;
}

.loader {
	width: 70px;
	height: 70px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 50%;
	animation: loader 1s linear infinite;
	-webkit-animation: loader 1s linear infinite;
}
.loader:before{
    content: "";
    position: absolute;
    top: 5px; 
    left: 5px; 
    right: 5px;
    bottom: 5px; 
    border: 3px solid #2ca0a0;
    border-radius: 50%;
    animation: loader 1.5s linear infinite;
	-webkit-animation: loader 1.5s linear infinite;
}
.loader:after{
    content: "";
    position: absolute;
    top: 15px; 
    left: 15px; 
    right:15px;
    bottom: 15px; 
    border: 3px solid #51ecec;
    border-radius: 50%;
    animation: loader 2s linear infinite;
	-webkit-animation: loader 2s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
		transform: rotate(0deg);
        border: 4px solid transparent;
		border-left-color: #51ecec;
	}
	50% {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
        border: 4px solid transparent;
		border-left-color: #673ab7;
	}
	75% {
		-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
        border: 4px solid transparent;
		border-left-color: #2ca0a0;
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid transparent;
		border-left-color: #fdfdfd;
	}
}
@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
		transform: rotate(0deg);
        border: 4px solid transparent;
		border-left-color: #51ecec;
	}
	50% {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
        border: 4px solid transparent;
		border-left-color: #673ab7;
	}
	75% {
		-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
        border: 4px solid transparent;
		border-left-color: #2ca0a0;
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid transparent;
		border-left-color: #fdfdfd;
	}
}
.loaded{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.6s 0.6s ease-out;
    transition: all 0.6s 0.6s ease-out;
}
.loaded .loader{
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    visibility: hidden;
}

/* 2. CSS HELPERS */
.box{
    width: 400px;
    padding: 30px;
    margin: auto; 
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d0b18;
    background: linear-gradient(312deg,#455bbd1f 2%, rgba(255,255,255,0.2) 87%);
    backdrop-filter: blur(10px); 
    border-left: 2px solid #fdfdfd3a;
    border-bottom: 2px solid #43558f1a;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.full-height{
    height: 100%;
}
/* 3. LOGIN */
.form-name{
    margin: 20px 20px 40px 20px;
    text-shadow: 2px 0 7px #2c2c2cd7;
}
.placeholders{
    width: 80%;
    height: 50px;
    padding-left: 15px;
    border:2px solid #fdfdfd;
}
.placeholders:focus{
    border:2px solid #51ecec;
    box-shadow: 0 0 4px #51ecec;
    transition: 0.3s ease-in;
}
.btn-submit{
    font-weight: bolder;
    letter-spacing: 1px;
    width:40%;
    height: 50px;
    background-color: #2ca0a0;
}
.btn-submit:hover, .btn-submit:focus{
    background-color: #51ecec;
    box-shadow: 0 0 7px  #2c2c2cd7;
    transition: 0.2s ease-in-out;
}
.forgot, .forgot:hover{
    color:#fdfdfd;
}

/* 4. DASHBOARD */

.grid-container{
    height:inherit;
    display: grid;
    grid-template-rows: 27% 27% auto;
    grid-template-columns: 11% 11% 11% 11% 11% 11% auto;
    gap: 15px;
    padding: 20px;
}
.item-a{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item-b{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item-c{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item-d{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item-e{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
.item-f{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}
.item-g{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 5;
}
.dash-box{
    width:100%;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #0d0b18;
    background: linear-gradient(312deg,#647ce41f 2%, #ffffff33 87%);
    backdrop-filter: blur(10px); 
    border-left: 2px solid #fdfdfd3a;
    border-bottom: 2px solid #43558f1a;
}



@media (max-width:425px){
    .box{
        margin:0;
        width:100%;
        border-radius: 0;
    }
    .placeholders{
        width:95%;
    }
}
